---
  - name: Set hostname
    hostname:
      name: "{{ domain_name }}"
      use: systemd
    tags: common

  - name: Set private ip
    set_fact:
      private_ip: "{{ ansible_facts['default_ipv4']['address'] }}"
    tags: common

  - name: Generate /etc/hosts file
    template:
      src: templates/hosts.j2
      dest: /etc/hosts
      owner: root
      mode: '0644'
    tags: common